version: ~> 1.0

language: node_js
node_js:
    - 8.16.2
install:
    - npm install -g codecov
before_script:
    - npm install
script:
    - npm run build
    - npm run coverage
    - codecov --disable=gcov
